.logo{
background-image: url(IMAGENES/rojo5.gif);
height: 340px;
background-position: center;
background-size:cover;
}
@media(max-width:576px){
    .logo{
        background-image: url(IMAGENES/movil2.gif);
        height: 170px;
        background-size:cover;
    }
    .menu-horizontal{
        display: block;
        margin-left: 10px;
        margin-top: 170px;
        background-color:rgba(0,0,0,.5);
    }
}